{% extends 'basefile.html' %}
{% load static %}
{% block bodyblock %}


    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-12 text-left">
            <div class="section-title mb-5">
              <h2>About Us</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <p>
              <img src="{% static 'images/audioreviewbdlogo.jpg' %}" alt="Image" class="img-fluid">
            </p>
          </div>
          <div class="col-lg-6 pl-md-5">
            <p>Audio Reviews BD is one of the most popular audio accessories review group in Bangladesh.</p>
            <p></p>
            <ul class="ul-check list-unstyled success mt-5">
              <li>Premium products</li>
              <li>Top notch sound quality!</li>
              <li>Genuine and authentic products</li>
            </ul>
          </div>
        </div>
      </div>
    </div>


    

      

{% endblock bodyblock %}