{% extends 'basefile.html' %}
{% load static %}
{% block bodyblock %}

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 single-content">
            
            <p class="mb-5">
              <img src="{{ post.thumbnail.url }}" alt="Image" class="img-fluid">
            </p>  
            <h1 class="mb-4">
              {{ post.title }}
            </h1>
            <div class="post-meta d-flex mb-5">
              <div class="bio-pic mr-3">
                <img src="{% static 'images/pp.png' %}" alt="Image" class="img-fluidid">
              </div>
              <div class="vcard">
                <span class="d-block"><a href="#">{{ post.author.user.username }}</a></span>
                <span class="date-read">{{ post.time_upload }}<span class="mx-1">&bullet;</span> {{post.read}} views </span>
              </div>
            </div>

            <p>{{ post.body_text|safe }}</p>



            <div class="pt-5">
                    <p>Categories:  
                      {% for catagory in post.categories.all %}
                    
                    <a href="#" class="catagories" >{{ catagory.title }} </a>
                    {% endfor %}
                     </p>
                  </div>
      
      
                  <div class="pt-5">
                    <div class="section-title">
                      <h2 class="mb-5">Post Comments</h2>
                    </div>

                    
                    <ul class="comment-list">
                      
                      {% for comment in comments %}
                      <li class="comment">
                        
                        <div class="vcard bio">
                          <img src="{% static 'images/person_1.jpg' %}" alt="Image placeholder">
                        </div>
                        <div class="comment-body">
                          <h3>{{comment.0.user.username}}</h3>
                          <div class="meta">{{comment.0.time}}</div>
                          <p>{{comment.0.comment}}</p>
                          {% comment %} <p id="{{comment.0.id}}"><button onclick="ReplyForm('{{comment.0.id}}')" class="reply btn btn-success">Reply</a></p> {% endcomment %}
                          </div>
                          <ul class="children">
                          {% for reply in comment.1 %}
                          <li class="comment">
                            <div class="vcard bio">
                              <img src="{% static 'images/person_1.jpg' %}" alt="Image placeholder">
                            </div>
                            <div class="comment-body">
                              <h3>{{reply.user.username}}</h3>
                              <div class="meta">{{reply.time}}</div>
                              <p>{{reply.reply}}</p>
                            </div>
                            
                          </li>
                          {% endfor %}
                        </ul>
                      </li>
                      {% endfor %}
                    </ul>
                    
                    <script type="text/javascript">
                      
                      function ReplyForm(id) {
                        let element = `<form class="p-5 bg-light" method="POST">
                          {% csrf_token %}
                          <div class="form-group">
                            <label for="comment">Comment</label>
                            <input type="text" value='${id}' name='comm_id ' style="display: none" readonly />
                            <textarea name="comment" id="comment" cols="30" rows="3" class="form-control"></textarea>
                          </div>
                          <div class="form-group">
                            <input type="submit" value="Post Comment" class="btn btn-primary py-3">
                          </div>
                        </form>`;
                        
                        document.getElementById(id).innerHTML = element
                      }
                      
                      
                    </script>


                    <!-- END comment-list -->
                    
                    {% if user.is_authenticated %}
                    <div class="comment-form-wrap pt-5">
                      <div class="section-title">
                        <h2 class="mb-5">Leave a comment</h2>
                      </div>
                      <form action="" class="p-5 bg-light" method="POST">
                        {% csrf_token %}
                        
                        <div class="form-group">
                          <label for="comment">Comment</label>
                          <textarea name="comment" id="comment" cols="30" rows="3" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                          <input type="submit" value="Post Comment" class="btn btn-primary py-3">
                        </div>
                        
                      </form>
                    </div>
                    {% else %}
                    <div class="container inline-block">

                      <p>Please sign in or sign up to post a comment </p>
                      <a href="{% url 'account_login' %}" class="nav-link text-left"><button class="btn btn-info">Login</button></a>
                    </div>
                     
                    {% endif %}
                  </div>
                </div>

          
          <div class="col-lg-3 ml-auto">
            <div class="section-title">
              <h2>Popular Posts</h2>
            </div>

            {% for post in recent_best|slice:":9" %}
 
            <div class="trend-entry d-flex">
              <div class="number align-self-start">0{{ forloop.counter }}</div>
              <div class="trend-contents">
                <h2><a href="{% url 'blog' post.id post.slug %}">{{ post.title }}</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">By: {{ post.author.user.username }}</a>  </span>
                  <span class="date-read">Posted {{ post.time_upload|timesince }} ago<span class="mx-1">&bullet;</span> {{ post.read }} view{{ post.read | pluralize }} 
                  <br>
                  {% if post.read == 0 %}
                  
                  {% elif post.read >= 500 %}
                  <span class="icon-star2"></span>
                  <span class="icon-star2"></span>
                  <span class="icon-star2"></span>
                  <span class="icon-star2"></span>
                  <span class="icon-star2"></span>

                  {% elif post.read >= 400 %}
                  <span class="icon-star2"></span>
                  <span class="icon-star2"></span>
                  <span class="icon-star2"></span>
                  <span class="icon-star2"></span>

                  {% elif post.read >= 300 %}
                  <span class="icon-star2"></span>
                  <span class="icon-star2"></span>
                  <span class="icon-star2"></span>

                  {% elif post.read >= 200 %}
                  <span class="icon-star2"></span>
                  <span class="icon-star2"></span>

                  {% else %}
                  <span class="icon-star2"></span>

                  {% endif %}
                </span>
                </div>
              </div>
            </div>
            {% endfor %}
            
            <p>
              <a href="{% url 'blogs' 'popular' %}" class="more">See All Popular <span class="icon-keyboard_arrow_right"></span></a>
            </p>
          </div>


        </div>
        
      </div>
    </div>

    

    {% endblock bodyblock %}