{% extends 'basefile.html' %}
{% load static %}
{% block bodyblock %}



    <div class="site-section py-0">
      <div class="owl-carousel hero-slide owl-style">
        {% for post in posts|slice:":3" %}
        <div class="site-section">
          <div class="container">
            <div class="half-post-entry d-block d-lg-flex bg-light">
              <div class="img-bg" style="background-image: url('{{ post.thumbnail.url }}')"></div>
              <div class="contents">
                <span class="caption">{{ post.author.user.username }}</span>
                <h2><a href="{% url 'blog' post.id post.slug %}">{{ post.title }}</a></h2>
                <p class="mb-3">{{ post.overview }}</p>
                
                <div class="post-meta">
                  <span class="d-block">

                    {% for catagory in post.categories.all %}
                    
                    <a href="#" class="catagories" >{{ catagory.title }} </a>
                    {% endfor %}

                  </span>
                  <span class="date-read">{{ post.time_upload }} <span class="mx-1">&bullet;</span> {{ post.read }} view{{ post.read | pluralize }} 
                  {% if post.read == 0 %}
                  
                  {% else %}
                  <span class="icon-star2"></span>

                  {% endif %}
                </span>
                </div>

              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  
    <!-- Editor's Pick section -->

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="row">
              <div class="col-12">
                <div class="section-title">
                  <h2>Editor's Pick</h2>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="post-entry-1">
                  <a href="{% url 'blog' authors_top_post.0.id authors_top_post.0.slug %}"><img src="{{ authors_top_post.0.thumbnail.url }}" alt="Image" class="img-fluid"></a>
                  <h2><a href="{% url 'blog' authors_top_post.0.id authors_top_post.0.slug %}">{{ authors_top_post.0.title }}</a></h2>
                  <p>{{ authors_top_post.0.overview }}</p>
                  <div class="post-meta">
                    <span class="d-block"><a href="#">{{ authors_top_post.0.author.user.username }}</a></span>
                    <span class="d-block">

                      {% for catagory in authors_top_post.0.categories.all %}
                      
                      <a href="#" class="catagories" >{{ catagory.title }} </a>
                      {% endfor %}
  
                    </span>
                    <span class="date-read">Posted {{ authors_top_post.0.time_upload|timesince }} ago <span class="mx-1">&bullet;</span> {{ authors_top_post.0.read }} view{{ authors_top_post.0.read | pluralize }}</span>
                  </div>
                </div>
              </div>

              

              <div class="col-md-6">

                {% for post in authors_top_post|slice:"1:" %}

                <div class="post-entry-2 d-flex bg-light">
                  <div class="thumbnail" style="background-image: url('{{ post.thumbnail.url }}')"></div>
                  <div class="contents">
                    <h2><a href="{% url 'blog' post.id post.slug %}">{{ post.title }}</a></h2>
                    <div class="post-meta">
                      <span class="d-block"><a href="#"><b>Author: </b>{{ post.author.user.username }}</a></span>
                      <span class="date-read">Posted {{ post.time_upload|timesince }} ago <span class="mx-1">&bullet;</span> {{ post.read }} views </span>
                    </div>
                  </div>
                </div>

                {% endfor %}

              </div>
            </div>
          </div>

          <!-- Trending section -->

          <div class="col-lg-4">
            <div class="section-title">
              <h2>Trending</h2>
            </div>

            {% for trends in trending_post %}
            <div class="trend-entry d-flex">
              <div class="number align-self-start">{{ forloop.counter }}</div>
              <div class="trend-contents">
                <h2><a href="{% url 'blog' trends.id trends.slug %}">{{ trends.title }}</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">By: {{ trends.author.user.username }}</a>  </span>
                  <span class="date-read">Posted {{ trends.time_upload|timesince }} ago<span class="mx-1">&bullet;</span> {{ trends.read }} view{{ trends.read | pluralize }} 
                  <br>
                  {% if trends.read == 0 %}
                  
                  {% elif trends.read >= 500 %}
                  <span class="icon-star2"></span>
                  <span class="icon-star2"></span>
                  <span class="icon-star2"></span>
                  <span class="icon-star2"></span>
                  <span class="icon-star2"></span>

                  {% elif trends.read >= 400 %}
                  <span class="icon-star2"></span>
                  <span class="icon-star2"></span>
                  <span class="icon-star2"></span>
                  <span class="icon-star2"></span>

                  {% elif trends.read >= 300 %}
                  <span class="icon-star2"></span>
                  <span class="icon-star2"></span>
                  <span class="icon-star2"></span>

                  {% elif trends.read >= 200 %}
                  <span class="icon-star2"></span>
                  <span class="icon-star2"></span>

                  {% else %}
                  <span class="icon-star2"></span>

                  {% endif %}
                </span>
                </div>
              </div>
            </div>
            {% endfor %}
            
            
            <p>
              <a href="{% url 'blogs' 'trending' %}" class="more">See All Trends <span class="icon-keyboard_arrow_right"></span></a>
            </p>

          </div>
        </div>
      </div>
    </div>
    <!-- END section -->
    
    <!-- All times best section -->

    <div class="py-0">
      <div class="container">
        <div class="half-post-entry d-block d-lg-flex bg-light">
          <div class="img-bg" style="background-image: url('{{ all_time_best.thumbnail.url }}')"></div>
          <div class="contents">
            <span class="caption">All time's best</span>
            <h2><a href="{% url 'blog' all_time_best.id all_time_best.slug %}">{{ all_time_best.title }}</a></h2>
            <p class="mb-3">{{ all_time_best.overview }}</p>
            
            <div class="post-meta">
              <span class="d-block"><a href="#">{{ all_time_best.author.user.username }}</a><span class="d-block">

                {% for catagory in all_time_best.categories.all %}
                
                <a href="#" class="catagories" >{{ catagory.title }} </a>
                {% endfor %}

              </span></span>
              <span class="date-read">Posted on: {{ all_time_best.time_upload }} <span class="mx-1">&bullet;</span> {{ all_time_best.read }} view{{ all_time_best.read | pluralize }} 
              <br>
              {% if all_time_best.read == 0 %}
              
              {% elif all_time_best.read >= 500 %}
              <span class="icon-star2"></span>
              <span class="icon-star2"></span>
              <span class="icon-star2"></span>
              <span class="icon-star2"></span>
              <span class="icon-star2"></span>

              {% elif all_time_best.read >= 400 %}
              <span class="icon-star2"></span>
              <span class="icon-star2"></span>
              <span class="icon-star2"></span>
              <span class="icon-star2"></span>

              {% elif all_time_best.read >= 300 %}
              <span class="icon-star2"></span>
              <span class="icon-star2"></span>
              <span class="icon-star2"></span>

              {% elif all_time_best.read >= 200 %}
              <span class="icon-star2"></span>
              <span class="icon-star2"></span>

              {% else %}
              <span class="icon-star2"></span>

              {% endif %}
            </span>
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- Recent post section -->

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-9">
            <div class="section-title">
              <h2>Recent Posts</h2>
            </div>
            {% for post in posts %}
            <div class="post-entry-2 d-flex">
              <div class="thumbnail order-md-2" style="background-image: url('{{ post.thumbnail.url }}')"></div>
              <div class="contents order-md-1 pl-0">
                <h2><a href="{% url 'blog' post.id post.slug %}">{{ post.title }}</a></h2>
                <p class="mb-3">{{ post.overview }}</p>
                <div class="post-meta">
                  <span class="d-block"><a href="#">{{ post.author.user.username }}</a> <span class="d-block">

                    {% for catagory in post.categories.all %}
                    
                    <a href="#" class="catagories" >{{ catagory.title }} </a>
                    {% endfor %}

                  </span> </span>
                  <span class="date-read">{{ post.time_upload|timesince }} <span class="mx-1">&bullet;</span> {{ post.read }} view{{ post.read | pluralize }}</span>
                </div>
              </div>
            </div>
            {% endfor %}
            
          </div>
          <div class="col-lg-3">
            <div class="section-title">
              <h2>Popular Posts</h2>
            </div>
      
            {% for post in recent_best|slice:":9" %}
 
            <div class="trend-entry d-flex">
              <div class="number align-self-start">0{{ forloop.counter }}</div>
              <div class="trend-contents">
                <h2><a href="{% url 'blog' post.id post.slug %}">{{ post.title }}</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">By: {{ post.author.user.username }}</a>  </span>
                  <span class="date-read">Posted {{ post.time_upload|timesince }} ago<span class="mx-1">&bullet;</span> {{ post.read }} view{{ post.read | pluralize }} 
                  <br>
                  {% if post.read == 0 %}
                  
                  {% elif post.read >= 500 %}
                  <span class="icon-star2"></span>
                  <span class="icon-star2"></span>
                  <span class="icon-star2"></span>
                  <span class="icon-star2"></span>
                  <span class="icon-star2"></span>

                  {% elif post.read >= 400 %}
                  <span class="icon-star2"></span>
                  <span class="icon-star2"></span>
                  <span class="icon-star2"></span>
                  <span class="icon-star2"></span>

                  {% elif post.read >= 300 %}
                  <span class="icon-star2"></span>
                  <span class="icon-star2"></span>
                  <span class="icon-star2"></span>

                  {% elif post.read >= 200 %}
                  <span class="icon-star2"></span>
                  <span class="icon-star2"></span>

                  {% else %}
                  <span class="icon-star2"></span>

                  {% endif %}
                </span>
                </div>
              </div>
            </div>
            {% endfor %}
            
            <p>
              <a href="{% url 'blogs' 'popular' %}" class="more">See All Popular <span class="icon-keyboard_arrow_right"></span></a>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <ul class="custom-pagination list-unstyled">
              
              {% if posts.has_previous %}
              <li><a href="?page={{ posts.previous_page_number }}">Prev.</a></li>
              {% endif %}

              <li class="active"><a href="?page=1">1</a></li>
              
              
              {% if posts.has_next %}
              <li><a href="?page={{ posts.next_page_number }}">Next</a></li>
              {% endif %}

            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section subscribe bg-light">
      <div class="container">
        <form action="." method="POST" class="row align-items-center">
          {% csrf_token %}
          <div class="col-md-5 mr-auto">
            <h2>Subcribe to get updates</h2>
            <p>Stay updated fast by subscribing. You will recieve notification whenever there is a new post.</p>
          </div>
             {% comment %} <form action="" method="POST"> {% endcomment %}
          <div class="col-md-6 ml-auto">
            <div class="d-flex">
              <input type="email" name="email" class="form-control" placeholder="Enter your email" required>
              <button type="submit" class="btn btn-secondary" ><span class="icon-paper-plane"></span></button>
            {% comment %} </form> {% endcomment %}
            </div>
          </div>
        </form>
      </div>
    </div>

{% endblock bodyblock %}
